<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    TEST
  </title>
  <meta charset="UTF-8">
  <link href="stylesheets/password-style.css" rel="stylesheet">
</head>

<body>
  <div class="flex-container">
    <div class="password-box">
      <div class="error"><%= message %></div>
      <form action="/" method="post">
        <label for="userPassword">Password:</label>
        <input name="userPassword" type="password" value="">
        <button type="submit"> submit </button>
      </form>
    </div>
  </div>
</body>

</html>